<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://static.grainger.com/rp/s/is/image/Grainger/34JR18_AS01"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">TITULO MERA MENTE ILUSTRATIVO</a></h1>
  </div>

  <div class="big-card__description">
    <P><a href="#"> Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum recentemente PageMaker.</a></P>
  </div>
</div>
